@page
@model NewExerciseLog.UI.Pages.Users.HomePageModel
@{
	Layout="/Pages/Shared/Signed-in.cshtml";
}

<title>Home Page</title>
<h2>Welcome, @Model.UserFirstName @Model.UserLastName!</h2>


<div class="background-container">
	<div class="content-section">
		
		<table id="goal-table">
			<thead>
				<tr>
					<th>Exercise</th>
					<th>Goal</th>
					<th>Total</th>
					<th id="th-percent">Percent</th>
				</tr>
			</thead>
			@foreach (var obj in Model.goals)
			{
				<form method="post">
				<tr>
					<td>@obj.ExerciseName</td>
					<td>@obj.Goal</td>
					<td>@obj.Total</td>
					<td>@obj.Percent %  </td>
					<td>
						<a class="btn btn-primary" asp-route-exerciseGoalId=@obj.ExerciseGoalId asp-route-id=@Model.ID asp-page="/ExerciseGoals/UpdateExerciseGoals">
						<i class="bi bi-pencil-square">Edit</i>
						</a>
					</td>
					<td>
						<button type="submit" asp-route-exerciseGoalId=@obj.ExerciseGoalId asp-route-id="@Model.ID" class="btn btn-danger"
							onclick="return confirm('Are you sure you want to delete this goal? The action cannot be undone!')">
								<i class="bi bi-x-circle mx-2"></i>Delete 
						</button>
					</td>
				</tr>
				</form>
			}
			<tr>
				<td>
					<a asp-route-id=@Model.ID asp-page="/ExerciseGoals/New">
						<i class="bi bi-plus-square-dotted">New Exercise</i>
					</a>
				</td>
				<td colspan="5">
					<a asp-page="/Entries/AddEntry" asp-route-id=@Model.ID class="btn btn-primary ">Add Log</a>
					<a class="btn btn-primary" asp-route-id=@Model.ID asp-page="/Entries/ViewEntries">View Entries</a>
					<a href="/Users/Logout" class="btn btn-link"> Sign Out</a>
				</td>
			</tr>

		</table>
		


		
	</div>
</div>



